body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Roboto;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-weight: 200; }

#header {
  position: relative;
  overflow: hidden;
  padding-bottom: 20px; }

#mainHead {
  margin: 40px 40px 0px 40px;
  text-align: center; }

#menu {
  max-width: 1024px;
  margin: 0 auto; }

#mainImage {
  width: 100%;
  height: auto;
  position: absolute;
  z-index: -1;
  top: 0; }

#m_btn {
  display: none; }

#footer {
  background: #eee;
  border-top: 1px solid #6e6e6e;
  width: 100%;
  clear: both;
  float: left;
  overflow: hidden;
  padding: 20px 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #666; }
  #footer a.item {
    font-weight: bold;
    text-decoration: none;
    color: #666; }
  #footer a:hover {
    color: orange; }

@media all and (max-width: 480px) {
  #menu {
    display: none; }

  #m_btn {
    display: inline-block;
    margin: 0 auto; }

  body.pushed {
    overflow: hidden; }

  #mainHead .ui.icon.header.huge {
    display: none; } }
@media all and (min-width: 481px) {
  html body.pushed {
    margin-left: 0 !important; }

  #mainHead h2 {
    display: none; } }
@media all and (min-width: 900px) {
  #mainHead .header {
    margin-top: 10%; } }
@media all and (max-width: 730px) {
  #mainHead .ui.header.huge {
    font-size: 1.7em; } }
