@import "compass/css3/box-sizing";

@mixin font-smoothing($val: antialiased) {
  -webkit-font-smoothing: $val;
  -moz-font-smoothing: $val;
  -ms-font-smoothing: $val;
  -o-font-smoothing: $val;
}

$menuLength      : 1024px;
$mobile_maxWidth : 480px;
$grey            : #eee;

body{
	margin: 0;
	padding: 0;
	width: 100%;	
	height: 100%;	
	font-family: Roboto;
	@include font-smoothing(antialiased);
	font-weight: 200;
}

#header{
	position: relative;
	overflow: hidden;	
	padding-bottom: 20px;	
}

#mainHead{
	margin: 40px 40px 0px 40px;
	text-align: center;
}

#menu{
	max-width: $menuLength;
	margin: 0 auto;
}

#mainImage{
	width: 100%;	
	height: auto;
	position: absolute;
	z-index: -1;  // ne pas recouvrir le menu horizontal
	top: 0;
}

#m_btn{
	display: none;
}

#footer{
	background: $grey;
	border-top: 1px solid darken($grey,50%);
	width: 100%;
	clear: both;
	float: left;
	overflow: hidden;
	padding: 20px 20px;
	@include box-sizing(border-box);
	color: #666;

	a.item{
		font-weight: bold;
		text-decoration: none;
		color: #666;
	}
	a:hover{
		color:orange;
	}
}

// mobile responsive
@media all and (max-width: $mobile_maxWidth) {
	// barre de menu cachée
	#menu{display:none;}
	// menu responsive déployé
	#m_btn{
		display: inline-block; 
		margin: 0 auto;
	}
	body.pushed{
		overflow: hidden;
	}
	#mainHead .ui.icon.header.huge{
		display: none;
	}
}

// other responsive
@media all and (min-width: $mobile_maxWidth + 1){
	
	html body.pushed{
		margin-left: 0 !important;
	}
	#mainHead h2{
		display:none;
	}
}

@media all and (min-width: 900px){

	#mainHead .header{
		margin-top:10%;
	}
}

@media all and (max-width: 730px){

	#mainHead .ui.header.huge{
		font-size: 1.7em;
	}
}
